.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container span {
  font-weight: 800;
}

.action {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.action > div {
  font-size: var(--font-size-14);
  background-color: var(--color-gray-300);
  display: flex;
  gap: 1rem;
  height: 4rem;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
}

.action > div button {
  background-color: var(--color-gray-300);
  width: 4rem;
  height: 100%;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-14);
}

.action > div button:hover {
  background-color: var(--color-gray-400);
}

.action > button:hover {
  transform: none;
}
