.container {
  font-size: var(--font-size-52);
  font-weight: 800;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  height: 24rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
