.container {
  padding: 6rem 0;
}

.container div {
  width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem;
}

.container div img {
  border-radius: 1rem;
}

.container > div img:last-child {
  grid-area: 1 / 2 / 3 / 3;
}

.container > div div {
  display: flex;
  flex-direction: column;
}

.container > div img:not(:last-child) {
  height: 100%;
}

.container > div img:last-child {
  height: 100%;
  width: 100%;
}
